* {
  margin: 0;
  padding: 0;
}

body {
  color: darkgrey;
  font-family: arial, sans-serif;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 30%;
}

.text {
  width: 30em;
  height: 3em;
  padding: 0 1em;
  border: 2px solid lightgrey;
  border-radius: 2em;
  font-size: 1.25em;
  margin-bottom: 2em;
}

.button {
  width: 10em;
  height: 3em;
  border: 2px solid lightgrey;
  border-radius: 2em;
  margin-left: 2em;
  color: white;
  font-size: 1.15em;
  background: rgb(59, 138, 223);
}

.button:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

ul {
  display: flex;
}

li {
  margin: 2em 2em;
  list-style-type: none;
}

a {
  color: black;
  font-size: 1.15em;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.advanced {
  width: 30em;
  height: 3em;
  padding: 0 1em;
  border: 2px solid lightgrey;
  border-radius: 2em;
  font-size: 1.25em;
  margin-bottom: 2em;
}

.search-bar-advanced {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: center;
  position: absolute;
  margin-left: 3em;
  left: 0;
  right: 0;
  top: 30%;
}